<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @job.title %>
</p>

<p>
  <strong>Show:</strong>
  <%= @job.show %>
</p>

<p>
  <strong>Position:</strong>
  <%= @job.position %>
</p>

<p>
  <strong>Url:</strong>
  <%= @job.url %>
</p>


<p>
  <strong>Picture:</strong>
  <%= image_tag @job.image.url(:thumb) %>
</p>

<p>
  <strong>Picture:</strong>
  <%= image_tag @job.icon.url(:thumb) %>
</p>
<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
