<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @job.title %>
</p>

<p>
  <strong>Show:</strong>
  <%= @job.show %>
</p>

<p>
  <strong>Position:</strong>
  <%= @job.position %>
</p>

<p>
  <strong>Url:</strong>
  <%= @job.url %>
</p>

<p>
  <strong>Icon:</strong>
  <%= image_tag @job.icon.url(:thumb) %>
</p>

<p>
  <strong>Desktop:</strong>
  <%= image_tag @job.image.url(:thumb) %>
</p>

<p>
  <strong>Laptop:</strong>
  <%= image_tag @job.lap.url(:thumb) %>
</p>

<p>
  <strong>Phone:</strong>
  <%= image_tag @job.phone.url(:thumb) %>
</p>

<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
